/*------------------------------------*\
    KB.CSS
\*------------------------------------*/

.browse-panes{
    
    @include clearfix;
    @include rem(padding-bottom, 1);
    padding: 1em;
    @include media(desktop){
        
        @include rem(padding-top, 1);
    }

    &:focus{
        outline: none;
    }
}


    /**
     * Pane
     */
    
    .pane{        
        
        
        position: relative;
        background: #fff;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);        


        /* Td */

        @include media(tablet){
            float: right;
            width: 25%;
            min-height: 20px;
        }

        

        /* Faq */

        .list--faq{
            padding-bottom: 0;
        }

        .column-title{
            padding-bottom: 0.5em;
        }
    }
    

    /**
     * Pane section
     */
    
    .pane-section{
        z-index: 2;         
    }

    .pane-inner{
        @include clearfix;
        @include media(tablet){
            border-left: 1px $base-ui-color solid;
            padding-left: 15px;
        }
        min-height: 300px;
    }

    .pane-subsection{
        z-index: 3;  

    }

    .pane-root{
        //padding-left: 15px;
    }


    /**
     * Subsection active
     */
    
    @include media(tablet){

        /**
         * Section pane
         */
        
        .pane-section{
                width: 32%;            
        }

        /**
         * Sub section
         */
        
        .pane-subsection{            
                width: 41%;            
        }

        .sub-section-active{

            .pane-section{
                margin-left: -12%;
                //width: 32%;
            }

            .pane-subsection{
                //margin-left: -13%;
                width: 53%;
            }
        }
    }




/**
 * List pane
 */

.list-pane{
    list-style: none;
    margin: 0 -1em;

    @include media(tablet){
        margin-right: 0;
    }
    // margin-left: 1em;
    // margin-right: 1em;
    
    .spin{
        position: absolute;
        right: 23px;
        top: 50%;
        margin-top: 0px;
    }
    .spin-json{
        position: absolute;
        left: 10px;
        top: 50px;
    }

    > li{        
        margin: 0;
        position: relative;
        border-bottom: 1px $base-ui-color solid;

        @include media(tablet){
            border-bottom: none;
        }

        &:last-child{
            border-bottom: none;
        }

        &:first-child{
            //border-top: 1px $color-border-grey solid;

            @include media(tablet){
                border-top: none;
            }
        }
    }

    a{
        // padding: 0.6em 0.625em;
        //padding-left: 0;
        // padding-right: 40px;
        display: block;
        position: relative;
        padding: 0.5em 1em;
        position: relative;  
        padding-left: 40px;          
                
        &:hover{
            text-decoration: none;
            background-color: #eee;
        }

    }

    .fa-spin{
        display: none;
        // color: #fff;
        position: absolute;
        right: 12px;
        top: 12px;
    }

    .spinning .fa-spin{
        display: block;

    }


    img{                        
        float: left;
        width: 16px;
        margin-left: -24px;
        margin-top: 4px;
    }

    .has-children{
        padding-left: 1em;
        padding-right: 2em;

        &:after{
            @extend %icon;
            content: "\f105";
            position: absolute;
            right: 1em;
            top: 50%;
            margin-top: -12px;
        }

    }

    .loading{
        &:after{
            display: none;
        }
    }
    

    .active > a{
        background-color: #eee;
        // color: #fff;
    }
    
}




    /**
     * Mobile
     */
    
    @include media(mobile){

        .list-pane{
            

            a{
                //padding-left: 15px;
            }
        }
        
        .pane{
            border-left: none;
            padding-left: 0;
        }
        .section-active{
            .pane{
                display: none;
            }

            .pane-section{
                display: block;

            }
        }

        .sub-section-active{
            .pane{
                display: none;
            }

            .pane-subsection{
                display: block;
            }
        }
    }

