/*------------------------------------*\
    PASSMAP
\*------------------------------------*/

/**
 * Pass map
 */

.pass-map{
    list-style: none;
    margin-left: 0;
    border: 1px $color-table-border solid; 
    display: table; 
    table-layout: fixed;
    width: 100%;
    clear: both;
    background: $color-table;

    @include media(tablet){
        border-bottom-width: 0;
    }

    li{
        margin: 0;      
    }

    > li{
        border-top: 1px $color-table-border solid;      
        margin: 0;      
        position: relative;
        font-weight: 600;       
        
        @include media(tablet){
            display: table-row;
        }
    }

    > li:first-child{
        border-top: none;
    }

    > li > span{
        display: table-cell;
        vertical-align: top;        
        padding: 8px 10px;
        border-bottom: 1px $color-table-border solid;

        @include media(tablet){
            border-right: 1px $color-table-border solid;
            padding: 15px;
            width: 130px;
        }
    }

    
    
    /* ul */

    ul{
        margin: 0;
        list-style: none;
        padding: 0;
        top: 0;
        width: 100%;
        color: $base-color;     
        vertical-align: top;
        background: #fff;       

        @include media(tablet){
            border-bottom: 1px $color-table-border solid;
            display: table-cell;
            width: 100%;      

            padding-bottom: 10px;
            padding-top: 10px;
            border-spacing: 10px 0;
        }
    }

    ul > li{
        
        padding: 10px;      
        @include font-size(15px, false);
        max-width: 100%;
        border-top: 1px darken(#E7EAF0, 10%) solid;

        @include media(tablet){
            border: 1px darken(#E7EAF0, 10%) solid;
            background: #E7EAF0;
            border-radius: $base-radius;        
            display: table-cell;      
            //display: inline-block;
            vertical-align: top;
            //float: left;
            vertical-align: top;
            width: 115px;
            min-height: 105px;
            margin: 10px 0 0px 10px;
        }
    }

    ul > li:first-child{
        border-top-color: transparent;

        @include media(tablet){
            border-top-color: darken(#E7EAF0, 10%);
        }
    }

    ul:before{

    }
}
